* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
nav {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px 20px;
}
nav > div {
  display: flex;
  align-items: center;
}
nav > .left {
  justify-content: flex-start;
  gap: 20px;
}
nav > .left > .nav-bar {
  width: 30px;
}
nav > .left > .logo {
  width: 100px;
}
nav > .right {
  justify-content: flex-end;
  gap: 10px;
}
nav > .right > img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
nav > .center {
  display: none;
}
nav > .center > .search {
  display: flex;
  gap: 0;
  align-items: center;
}

@media screen and (min-width: 768px) {
  nav {
    grid-template-columns: 20% 60% 20%;
  }
  nav > .center {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}
