* {
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
nav {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px 20px;
}
nav > div {
  display: flex;
  align-items: center;
}
nav > .left {
  justify-content: flex-start;
  gap: 20px;
}
nav > .left > .nav-bar {
  width: 30px;
}
nav > .left > .logo {
  width: 100px;
}
nav > .right {
  justify-content: flex-end;
  gap: 18px;
}
nav > .right > .create-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.2s ease;
  cursor: pointer;
}
nav > .right > .create-container:hover {
  background-color: #e6e3e3;
}
nav > .right > .noti-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.2s ease;
  cursor: pointer;
}
nav > .right > .noti-container:hover {
  background-color: #e6e3e3;
}
nav > .right > img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}
nav > .right > .hidden-icon > .search-container2 {
  width: 40px;
  border-radius: 50%;
  display: none;
}

nav > .right > .hidden-icon > img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

nav > .right > .hidden-icon {
  display: none;
}
nav > .center {
  display: none;
}
nav > .center > .search {
  display: flex;
  gap: 0;
  align-items: stretch;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 50px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
nav > .center > .search > input {
  display: flex;
  width: 100%;
  border: none;
  padding: 10px;
  margin-left: 10px;
  outline: none;
}
nav > .center > .search > .icon-search {
  width: 70px;
  background: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #ccc;
  transition: background-color 0.2s ease;
}
nav > .center > .search > .icon-search > img {
  width: 24px;
}
nav > .center > .search > .icon-search:hover {
  background: #f2f2f2;
}
nav > .center > .mic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e6e3e3;
  transition: background-color 0.2s ease;
  cursor: pointer;
}
nav > .center > .mic-container > svg {
  width: 22px;
  height: 22px;
}
nav > .center > .mic-container:hover {
  background:#d6d4d4
}

@media screen and (min-width: 768px) {
  nav {
    grid-template-columns: 20% 60% 20%;
  }
  nav > .center {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}
@media (max-width: 768px) {
  nav > .right > .hidden-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  nav > .right > .hidden-icon > .search-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
  }
  nav > .right > .hidden-icon > .search-cont:hover {
    background-color: #e6e3e3;
    transition: background-color 0.02s ease;
  }
}